{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs",
    "prettier",
    "prettier/vue",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".mjs"] }
    }
  },
  // add your custom rules here
  "rules": {
    "no-console": 0,
    // "nuxt/no-cjs-in-config": "off",
    "unicorn/number-literal-case": "off",
    "vue/no-v-html": 0,
    "vue/html-self-closing": 0,
    "vue/singleline-html-element-content-newline": 0,
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "all",
        "printWidth": 120
      }
    ]
  }
}
